* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
    opacity: 0.5;
}

window#waybar.top {
    background-color: #16171e;
}

window#waybar.bottom {
    background-color: #16171e;
}

#workspaces button {
    padding: 0px 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: rgba(218, 219, 219, 0.1);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: rgba(218, 219, 219, 0.1);
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#disk,
#custom-net-up,
#custom-net-down,
#custom-pacman {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#tray {
    background-color: transparent;
}
