[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hiukky/Área de trabalho/compile-kernel.txt]
row=0
col=0

[/home/hiukky/Área de trabalho/images (1).jpeg]
row=5
col=0

[/home/hiukky/Área de trabalho/names-fly.txt]
row=3
col=0

[/home/hiukky/Área de trabalho/adesivo-decorativo-parede-xicara-cafe-adesivo-xicara-D_NQ_NP_894494-MLB28713531469_112018-F.jpg]
row=6
col=0

[/home/hiukky/Área de trabalho/boot.img]
row=1
col=0

[/home/hiukky/Área de trabalho/coin-2020-txt]
row=2
col=0

[/home/hiukky/Área de trabalho/images.jpeg]
row=5
col=1

[/home/hiukky/Área de trabalho/images.png]
row=4
col=0

